<p>
  <h2><strong>Post:</strong></h2>
  <p><%=@post.message %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %> by <%= comment.user.name %>
  </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |form| %>
 <%= form.hidden_field(:user_id, value: current_user.id) %>
<p>
  <%= form.text_area :body %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>

<%= link_to 'Back', posts_path %>
